<div class="pukeko-item pukeko-item--dark faux-block-link" data-entityid="more-from-bbc-news#1">
  <div class="pukeko-item__inner">
    <div class="pukeko-item__image">
      <div class="responsive-image responsive-image--16by9">
        <img src="{{data.getImage()}}"
        datasrc="{{data.getImage()}}"
        class="js-image-replace"
        width="624" height="351">
      </div>
    </div>
    <div class="pukeko-item__body">
      <span class="off-screen">From the section </span>
      {{ data.getCategory() }}
      <a href="{{data.getUrl()}}" class="title-link">
      <h3 class="title-link__title">
          <span class="title-link__title-text">{{data.getTitle()}}</span>
      </h3>
      </a>
    </div>
  </div>
</div>
