<div class="skylark faux-block-link mb20">
  <div class="skylark-item" data-entityid="featured-site-top-stories#1">
    <div class="skylark__image">
      <div class="responsive-image responsive-image--16by9">
        <img src="{{ data.getImage() }}"
        datasrc="{{ data.getImage() }}"
        class="js-image-replace" alt="" width="624" height="351">
      </div>
    </div>
    <a href="{{ data.getUrl() }}" class="title-link">
      <h3 class="title-link__title">
        <span class="title-link__title-text">{{ data.getTitle() }}</span>
      </h3>
    </a>
    <div class="skylark__body">
      <p class="skylark__summary">{{ data.getShortContent() }}</p>
      <div class="skylark__info-list">
        <ul class="mini-info-list">
          <li class="mini-info-list__item">
          </li>
        </ul>
      </div>
    </div>
    <a href="{{ data.getUrl() }}" class="faux-block-link__overlay-link" tabindex="-1" aria-hidden="true">Full article {{ data.getTitle() }}</a>
  </div>
</div>
